.clothingCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 890px) {
    .clothingCardsContainer {
        display: grid;
        grid-template-columns: 200px 200px;
        gap: 16px;

        justify-content: unset;

        overflow: hidden;
    }
}
